<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock inspector2</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
	</head>
	
	<body>
		<div>
  			<h1>Enter stock symbol</h1>
		</div>
	    <form id='stock' method='post' action='index' >
	      <p>
	    Stock symbol: <input type='text' name='stock_symbol' autocomplete="off"/><br />
		<input type="checkbox" name="volume" value="Y"> Volume<br />
		<input type="checkbox" name="opening_price" value="Y"> Opening price<br />
		<input type="checkbox" name="closing_price" value="Y"> Closing price<br />
		</p>
	      <p>
	    <input type='submit' value='Submit stock' />
	      </p>
	    </form>
		
		
	</body>
</html>